:host {
  display: block;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;

  .controls {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--active-background);
  }
}

h2 {
  padding: 0 1rem;
}

.subtitle {
  padding: 1rem;
  padding-top: 0;
}

.preview .content {
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: clamp(0rem, (100% - 360px) / 2, 1rem);
  padding-right: clamp(0rem, (100% - 360px) / 2, 1rem);
}
