@use "styles/blocks";

:root {
  --default-background: hsl(0, 0%, 100%);
  --light-background: hsl(0, 0%, 90%);
  --active-background: hsl(261, 100%, 20%);
  --active-foreground: white;
  --disabled-background: hsl(0, 0%, 80%);
  --disabled-foreground: hsl(0, 0%, 20%);
  --enabled-text: hsl(0, 0%, 20%);
  --disabled-text: hsl(0, 0%, 62%);
  --title-text: var(--active-background);
  --dimmed-border: hsl(0, 0%, 80%);
  --dimmed-background: hsla(261, 100%, 20%, 0.42);
}

html,
body {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: clamp(15px, calc(2vw + 2px), 20px);
  height: 100%;
  margin: 0;
  color: var(--enabled-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.875rem;
  color: var(--active-background);
}

h2 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  color: var(--active-background);
}
